@font-face {
	font-family: Roboto;
	src: url("../dist/roboto/Roboto-Regular.ttf");
}

body {
	font-family: Roboto;
}

.button {
	border: 1px solid gray;
	border-radius: 3px;
	background-color: lightcyan;
	padding: 5px;
	cursor: pointer;
}

.navbar {
	display: flex;
	justify-content: center;
}

.navbar input {
	margin: 0 5px;
	text-align: center;
}

.workspace {
	display: flex;
	justify-content: center;
	margin: 5px;
}

.workspace .properties {
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px;
	margin-right: 5px;
	width: fit-content;
	display: flex;
	flex-direction: column;
}

.workspace .properties > * {
	margin-bottom: 5px;
}

.workspace .properties .filename {
	text-align: center;
	text-overflow: clip;
	font-style: italic;
	margin-bottom: 10px;
}

.workspace .properties .button {
	text-align: center;
}

.workspace .properties .crop-presets {
	display: flex;
}

.workspace .properties .crop-presets .button {
	flex-grow: 1;
}

.workspace .properties .crop-presets .button:first-of-type {
	margin-right: 5px;
}

.workspace .image-viewer {
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px;
	width: fit-content;
	display: flex;
	justify-content: center;
}

.workspace .image-viewer canvas {
	display: block;
	max-width: 80vw;
	max-height: 90vh;
	width: auto !important;
	height: auto !important;
}
