@font-face {
	font-family: Roboto;
	src: url("../dist/roboto/Roboto-Regular.ttf");
}

body {
	font-family: Roboto;
}

.button {
	border: 1px solid gray;
	border-radius: 3px;
	background-color: lightcyan;
	padding: 5px;
	cursor: pointer;
}

.panel {
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px;
}

.workspace {
	display: flex;
	justify-content: center;
	margin: 5px;
}

.workspace .left-panel {
	margin-right: 5px;
}

.workspace .properties {
	width: fit-content;
	display: flex;
	flex-direction: column;
}

.workspace .properties > * {
	margin-bottom: 5px;
}

.workspace .properties div:last-of-type {
	margin-bottom: 0px;
}

.workspace .properties .filename {
	max-width: 10vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
}

.workspace .properties .button {
	text-align: center;
}

.workspace .properties .crop-presets {
	display: flex;
}

.workspace .properties .crop-presets .button {
	flex-grow: 1;
}

.workspace .properties .crop-presets .button:first-of-type {
	margin-right: 5px;
}

.workspace .properties .navbar {
	display: flex;
	justify-content: center;
}

.workspace .properties .navbar input,
.workspace .properties .navbar .button {
	margin-right: 5px;
	text-align: center;
}

.workspace .properties .navbar .button:last-of-type {
	margin-right: 0px;
}

.workspace .properties .navbar input {
	width: 0;
	flex: 1;
}

.workspace .crop-preview {
	margin-top: 5px;
}

.workspace .crop-preview canvas {
	width: 100% !important;
	height: auto !important;
}

.workspace .image-viewer {
	width: fit-content;
	display: flex;
	justify-content: center;
}

.workspace .image-viewer canvas {
	display: block;
	max-width: 80vw;
	max-height: 90vh;
	width: auto !important;
	height: auto !important;
}
